 
 <div>
   <p>Last Updated At : <span style="font-family: cursive;">{{h | date:'medium'}}</span> </p>
   <p>Coronavirus Cases : <span style="font-family: cursive;">{{worldwide?.confirmed}}</span></p>
   <p>Recovered : <span style="font-family: cursive;">{{worldwide?.recovered}}</span></p>
   <p>Deaths : <span style="font-family: cursive;">{{worldwide?.deaths}}</span></p>
 </div>
 
 
 <div style="overflow-x:auto;">
    <table>
      <tr>
        <th>Country</th>
        <th>Confirmed</th>
        <th>Deaths</th>
        <th>Recovered</th>
        <th>Day Wise</th>
      </tr>
      <tr *ngFor='let item of list | filter'>
        <td #id+i (click)="ngxSmartModalService.getModal('myModal').open()">{{item?.countryregion}}</td>
        <td (click)='close()'>{{item?.confirmed}}</td>
        <td style="color: red;">{{item?.deaths}}</td>
        <td style="color: green;">{{item?.recovered}}</td>
        <td (click)='time(item?.countrycode?.iso2)' style="color: blue;cursor: pointer;">Check</td>
      </tr>   
    </table>
  </div>

  <ngx-smart-modal #myModal identifier="myModal">
    <div *ngIf='timeSeries?.length' >
      <h2 style="align-content: center;">{{timeSeries[0]?.countryregion}}</h2>
    <table style="background-color: burlywood;">
      <tr>
        <th>Date</th>
        <th>Confirmed</th>
        <th>Deaths</th>
        <th>Recovered</th>
      </tr>
      <ng-container *ngFor='let data of timeSeries[0]?.timeseries | keyvalue | emptyObjectRemoval' >
        <tr *ngIf='data?.key' >
          <td >{{data?.key}}</td>
          <td >{{timeSeries[0]?.timeseries[data?.key]?.confirmed}}</td>
          <td style="color: red;">{{timeSeries[0]?.timeseries[data?.key]?.deaths}}</td>
          <td style="color: green;">{{timeSeries[0]?.timeseries[data?.key]?.recovered}}</td>
        </tr>
      </ng-container>
    </table>
    </div>
  </ngx-smart-modal>


